<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title></title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #chart-container {
            position: relative;
            height: 100vh;
            overflow: hidden;
        }

        .fomu {
            border-radius: 15px;
            box-shadow: 3px 1px 10px lightgrey;
        }
    </style>
</head>
<body class="corpo">

<p>Cadastro Região</p>
    
 <script src="/js/jquery-3.6.0.min.js"></script>   
 <script src="/js/bootstrap.min.js"></script>
</body>
</html>