<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HexTech</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Bootstrap core CSS     -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/assets/css/animate.min.css" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/assets/css/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/assets/css/pe-icon-7-stroke.css" rel="stylesheet" />

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        #chart-container {
            position: relative;
            height: 100vh;
            overflow: hidden;
        }

        .fomu {
            border-radius: 15px;
            box-shadow: 3px 1px 10px lightgrey;
        }
    </style>
</head>

<body style="background-color: #EEEEEE;">
    <div class="wrapper">
        <!-- Barra lado -->
        <div class="sidebar" data-color="gray" data-image="assets/img/sidebar-5.jpg">

            <div class="sidebar-wrapper">
                <div class="logo" style="box-shadow: 3px 1px 10px rgb(71, 71, 71)">
                    <a class="simple-text"> <img src="assets/img/logo.png" height="20px" width="20px"
                            style="margin-top: -5px ;"> HEXTECH</a>
                </div>

                <ul class="nav">
                    <li id="aaa" class="active">
                        <a onclick="painel()">
                            <i class="pe-7s-home"></i>
                            <p>Painel de Controle</p>
                        </a>
                    </li>
                    <li id="bbb">
                        <a onclick="cadastro()">
                            <i class="pe-7s-plus"></i>
                            <p>Cadastro</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">

            <!-- Barra top -->
            <nav class="navbar navbar-default navbar-fixed" style="box-shadow: 3px 1px 10px lightgrey;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">

                        </a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa pe-7s-user"></i>
                                </a>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="logout.php" style="color: black;">
                                    Sair
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Conteudo -->
            <div class="content" style="padding:  30px  0px  0px  0px; ">

                <iframe id="iframe" width="100%" scrolling="no" style="border: none;"></iframe>
                <script>
                    var altura = window.screen.height;
                    document.getElementById("iframe").height = altura - 241;
                    document.getElementById("iframe").src = '/grafico'

                    function painel(){
                        document.getElementById("iframe").src = '/grafico';
                        document.querySelector('#aaa').classList.toggle("active");
                        document.querySelector('#bbb').classList.remove('active');
                    }

                    function cadastro(){
                        document.getElementById("iframe").src = '/novaEstacao';
                        document.querySelector('#bbb').classList.toggle("active");
                        document.querySelector('#aaa').classList.remove('active');
                    }
                </script>
            </div>
        </div>
    </div>
</body>

<!--   Core JS Files   -->
<script src="/assets/js/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/assets/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Charts Plugin -->
<script src="/assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="/assets/js/bootstrap-notify.js"></script>

<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="/assets/js/light-bootstrap-dashboard.js?v=1.4.0"></script>

</html>