<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<hread>
<meta charset="UTF-8"/>
<title></title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>


</hread>
<body class="corpo">

<header id="cabecalho">
    <a class="btn btn-link" href="/novaEstacao"> Nova Estaçao </a>

</header>

<!--<header th:replace="Cabecalho"></header> -->

    <p> IoWeather</p>
    
    
  <!--<section layout:fragment="conteudo">
      <p>Conteúdo Principal</p>
  </section>-->
    
 <script src="/js/jquery-3.6.0.min.js"></script>   
 <script src="/js/bootstrap.min.js"></script>
</body>
</html>